NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/main
TEMPLATE_PATH=D:/projects/pdfmodify/mirae.pdf
STORAGE_PATH=D:/projects/tat/backend/uploads/mafc/

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=''
# city::1
CITY_PREFIX=city::
#city::1::district::2
DISTRICT_PREFIX=::district::
#ward::3
WARD_PREFIX=ward::

BANK_PREFIX=bank::
TSACODE_PREFIX=tsa::