NODE_ENV=development
MONGODB_URI=123123
TEMPLATE_PATH1231231
STORAGE_PATH=1231231

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=''
# city::1
CITY_PREFIX=city::
#city::1::district::2
DISTRICT_PREFIX=::district::
#ward::3
WARD_PREFIX=ward::

BANK_PREFIX=bank::
TSACODE_PREFIX=tsa::